{% extends "base.html" %}

{% block title %}
  VerbaCap - Homepage
{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-6">
        <div class="card text-bg-dark">
            <div class="card-body">
                <h5 class="card-title text-center">Latest Episode</h5>
                <p class="card-text">
                    <div class="card text-bg-dark border-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1"><i class="fa-solid fa-plus"></i></div>
                                <div class="col-3 text-center">02/08/2023</div>
                                <div class="col-8"><i class="fa-brands fa-youtube" style="color: #FF0000"></i> Come fare qualcosa di grande | Reaction a Paul Graham</div>
                            </div>
                        </div>
                    </div>
                    
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
