{% extends "base.html" %}

{% block title %}
  VerbaCap - Homepage
{% endblock title %}
{% block content %}
  <h1 class="text-center p-1">Dashboard</h1>
  <div class="row">
    <div class="col-12 col-md-4 pb-3 pb-md-0">
      <div class="card bg-dark text-white text-center">
        <div class="card-header border-primary">Datasource Followed</div>
        <div class="card-body">
          <h3>
            <i class="fa-solid fa-thumbs-up"></i> {{ stat.total_followed }}
          </h3>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 pb-3 pb-md-0">
      <div class="card bg-dark text-white text-center">
        <div class="card-header border-success">Episode Loaded</div>
        <div class="card-body">
          <h3>
            <i class="fa-solid fa-video"></i> {{ stat.total_episode }}
          </h3>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 pb-3 pb-md-0">
      <div class="card bg-dark text-white text-center">
        <div class="card-header border-warning">Episode Viewed</div>
        <div class="card-body">
          <h3>
            <i class="fa-solid fa-eye"></i> {{ stat.total_episode_viewed }}
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12 col-md-8">
      <div class="card text-bg-dark">
        <div class="card-body">
          <h5 class="card-title text-center">Latest Episode</h5>
          <input type="hidden" id="csrfmiddlewaretoken" value="{{ csrf_token }}" />
          <ul class="list-group list-group-flush">
            {% for episode in episodes %}
              <li class="list-group-item bg-dark text-white border-success">
                <div class="row">
                  <div class="col-3 col-md-1 text-center">
                    <a href="#"
                       onclick="add_episode('{{ episode.datasource.provider.shortname }}','{{ episode.episode_id }}')">
                      <button id="{{ episode.datasource.provider.shortname }}_{{ episode.episode_id }}"
                              type="button"
                              class="btn btn-primary btn-sm">
                        {% if episode.is_playlist_present %}
                          <i class="fa-solid fa-check"></i>
                        {% else %}
                          <i class="fa-solid fa-plus"></i>
                        {% endif %}
                      </button>
                    </a>
                  </div>
                  <div class="col-9 col-md-2 text-center d-flex">
                    <div class="d-flex align-items-center fs-12px">{{ episode.episode_date }}</div>
                  </div>
                  <div class="col-12 col-md-9 fs-14px d-flex">
                    <div class="d-flex align-items-center">
                      <i class="{{ episode.datasource.provider.icon }}"
                         style="color: {{ episode.datasource.provider.color }}"></i> {{ episode.name |truncatechars:70 }}
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-grid gap-2 pb-3 pt-3 pt-md-0">
        <a href="{% url 'player' %}" class="btn btn-primary text-white btn-lg">
          <i class="fa-solid fa-circle-play"></i> Go to Player
        </a>
      </div>
      <div class="d-grid gap-2 pb-3 pt-3 pt-md-0">
        <a href="{% url 'settings' %}" class="btn btn-success text-white btn-lg">
          <i class="fa-solid fa-gear"></i> Settings
        </a>
      </div>
      <div class="card text-bg-dark">
        <div class="card-header border-success text-center">Playlist</div>
        <div class="card-body">
          <div class="d-flex">
            <ul class="list-group list-group-flush d-flex align-items-center">
              {% for iter in playlist %}
                <li class="list-group-item bg-dark text-white fs-14px border-info">
                  <i class="{{ iter.episode.datasource.provider.icon }}"
                     style="color: {{ iter.episode.datasource.provider.color }}"></i>  {{ iter }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block inline_javascript %}
  <script>
    function add_episode(provider_shorname, episode_id) {
      let csrf_token = document.getElementById("csrfmiddlewaretoken");
      let basehtml = document.getElementById(provider_shorname + "_" + episode_id);
      basehtml.innerHTML = '<i class="fa-solid fa-check"></i>';
      const reqopt = {
        method: "PUT",
        body: JSON.stringify({}),
        credentials: "same-origin",
        headers: {
          "X-CSRFToken": csrf_token.value
        }
      }
      fetch("/api/playlist/edit/" + provider_shorname + "/" + episode_id + "/", reqopt).catch(error => {
        console.log(error);
      });
    }
  </script>
{% endblock inline_javascript %}
