{% extends "base.html" %}

{% block title %}
  VerbaCap - Settings
{% endblock title %}
{% block inline_javascript %}
  <script>
    function task_Core_CalcolatePersistInfo() {
      let csrf_token = document.getElementById("csrfmiddlewaretoken");
      const reqopt = {
        method: "PUT",
        body: JSON.stringify({}),
        credentials: "same-origin",
        headers: {
          "X-CSRFToken": csrf_token.value
        }
      }
      fetch("/api/task/core-calcolatepersistinfo/", reqopt)
        .catch(error => {
          console.log(error);
        })
    }

    function task_YT_ImportEpisodesYTChannel() {
      let csrf_token = document.getElementById("csrfmiddlewaretoken");
      const reqopt = {
        method: "PUT",
        body: JSON.stringify({}),
        credentials: "same-origin",
        headers: {
          "X-CSRFToken": csrf_token.value
        }
      }
      fetch("/api/task/yt-importepisodeschannel/", reqopt)
        .catch(error => {
          console.log(error);
        })
    }

    function task_YT_ImportEpisodesYTPlaylist() {
      let csrf_token = document.getElementById("csrfmiddlewaretoken");
      const reqopt = {
        method: "PUT",
        body: JSON.stringify({}),
        credentials: "same-origin",
        headers: {
          "X-CSRFToken": csrf_token.value
        }
      }
      fetch("/api/task/yt-importepisodesplaylist/", reqopt)
        .catch(error => {
          console.log(error);
        })
    }

    function task_SK_ImportEpisodesSK() {
      let csrf_token = document.getElementById("csrfmiddlewaretoken");
      const reqopt = {
        method: "PUT",
        body: JSON.stringify({}),
        credentials: "same-origin",
        headers: {
          "X-CSRFToken": csrf_token.value
        }
      }
      fetch("/api/task/sk-importepisodes/", reqopt)
        .catch(error => {
          console.log(error);
        })
    }

    function action_AppCacheDelete() {
      let csrf_token = document.getElementById("csrfmiddlewaretoken");
      const reqopt = {
        method: "DELETE",
        body: JSON.stringify({}),
        credentials: "same-origin",
        headers: {
          "X-CSRFToken": csrf_token.value
        }
      }
      fetch("/api/action/core-deleteappcache/", reqopt)
        .catch(error => {
          console.log(error);
        })
    }
  </script>
{% endblock inline_javascript %}
{% block content %}
  <h1 class="text-center p-1">Settings</h1>
  <p class="text-center">The page contains all the settings for the tool</p>
  <input type="hidden" id="csrfmiddlewaretoken" value="{{ csrf_token }}" />
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card bg-dark">
        <div class="card-header text-center">Persist Audio Counter</div>
        <div class="card-body">
          <blockquote class="blockquote mb-0 text-center">
            <p>Current number of files: {{ total_count.value }}</p>
            <footer class="blockquote-footer text-end fs-6">
              Last Update: {{ total_count.updated_at | date:"SHORT_DATETIME_FORMAT" }}
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 pt-3 pt-md-0">
      <div class="card bg-dark">
        <div class="card-header text-center">Persist Audio File Size</div>
        <div class="card-body">
          <blockquote class="blockquote mb-0 text-center">
            <p>Total Size: {{ total_size.value | filesizeformat }}</p>
            <footer class="blockquote-footer text-end fs-6">
              Last Update: {{ total_count.updated_at | date:"SHORT_DATETIME_FORMAT" }}
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12 col-md-6">
      <div class="card bg-dark">
        <div class="card-header text-center">Run Tasks</div>
        <div class="card-body">
          <div class="row">
            <div class="offset-2 col-8 d-grid">
              <button type="button"
                      onclick="task_Core_CalcolatePersistInfo()"
                      class="btn btn-primary">Run Core Calcolate PersistInfo</button>
            </div>
            <div class="offset-2 col-8 d-grid pt-3">
              <button type="button"
                      onclick="task_YT_ImportEpisodesYTChannel()"
                      class="btn btn-primary">Run Import Episodes Youtube Channel</button>
            </div>
            <div class="offset-2 col-8 d-grid pt-3">
              <button type="button"
                      onclick="task_YT_ImportEpisodesYTPlaylist()"
                      class="btn btn-primary">Run Import Episodes Youtube Playlist</button>
            </div>
            <div class="offset-2 col-8 d-grid pt-3">
              <button type="button"
                      onclick="task_SK_ImportEpisodesSK()"
                      class="btn btn-primary">Run Import Episodes Spreaker</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 pt-3 pt-md-0">
      <div class="card bg-dark">
        <div class="card-header text-center">Run Actions</div>
        <div class="card-body">
          <div class="row">
            <div class="offset-2 col-8 d-grid">
              <button type="button"
                      onclick="action_AppCacheDelete()"
                      class="btn btn-success">Cleanup App Cache</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
