body {
    background-color: #373A3E;
    color: #e9ecef;
}
.fs-14px {
    font-size: 14px;
}
.fs-12px {
    font-size: 12px;
}
.selected-audio {
    background-color: #226f23e0 !important;
}
.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
    opacity: 1!important;
}
